streamlit
opencv-python
requests
numpy
scikit-learn
Pillow
paddlepaddle-gpu==3.0.0
paddleocr 
PyMuPDF
langchain
langchain-openai
sentence-transformers==2.4.0
chromadb
modelscope
torch==2.7.1
